# Imports

In [1]:
import ipypandas

import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.min_rows', 10)
pd.set_option('display.max_rows', 60)

pd.set_option('display.max_columns', 20)
pd.set_option('display.max_colwidth', 50)

# DataFrame

In [3]:
ipypandas.disable()

pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [14]:
ipypandas.enable()

df1 = pd.DataFrame(np.random.randn(100, 4), columns=['A', 'B', 'C', 'D'])
df1

           A         B         C         D
0  -0.257707 -0.402061  1.034741  0.781314
1   1.496093 -0.297563  …

In [5]:
ipypandas.disable()

df2 = df1.set_index('A').head()
df2

                  B         C         D
A
-0.197588  0.766583  1.412272 -0.513829
-0.572931  0.076444  0.026491 -0.454601
-0.201506 -0.342683  0.446800 -0.601859
-0.539937  0.917481  0.277150 -0.604408
 0.035349  0.200693 -1.810949  0.387047

In [6]:
ipypandas.enable()

df2 = df1.set_index('A').head()
df2

                  B         C         D
A
-0.197588  0.766583  1.412272 …

In [7]:
ipypandas.enable()

groups = np.random.randint(0, df1.shape[0], size=(df1.shape[0], 50))

df3 = pd.concat([df1, pd.DataFrame(groups)], axis=1).groupby(0).sum()#.reset_index()
df3

           A         B         C         D    1    2    3    4    5    6  ...  \
0                            …

In [8]:
ipypandas.disable()

df3

,A,B,C,D,1,2,3,4,5,6,...,40,41,42,43,44,45,46,47,48,49
0,,,,,,,,,,,,,,,,,,,,,
0,0.417500,-2.548900,0.967824,0.396577,66,71,13,55,49,79,...,32,12,46,76,8,39,64,33,35,78
1,2.137010,1.544430,-0.361858,0.120389,17,66,4,7,56,84,...,1,85,62,43,81,34,8,94,53,62
2,-1.084084,-0.878913,1.269703,-1.361235,51,14,17,46,31,1,...,61,36,88,71,40,67,38,42,30,51
3,2.313109,1.501381,-0.903490,0.682272,100,138,112,62,33,80,...,13,67,71,92,111,73,41,67,38,136
7,-3.189942,1.019601,0.618111,-0.097380,104,15,105,101,118,93,...,81,52,129,135,156,124,76,108,138,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,-0.667818,1.385536,-2.707827,0.374140,97,184,34,123,70,90,...,34,116,38,49,20,63,59,29,90,104
93,-0.333540,0.524182,-0.084696,-0.679041,39,67,4,82,40,77,...,44,66,30,13,96,45,11,22,28,54
94,-2.419163,-0.071311,0.943866,-0.364078,64,10,27,80,82,41,...,15,14,36,33,69,56,99,32,91,74
95,-1.953949,0.265733,2.762712,1.433314,222,124,130,196,160,237,...,232,212,153,174,182,86,154,216,128,179
96,0.724418,-0.051650,-1.736986,0.771969,73,167,95,146,112,142,...,94,95,176,135,96,109,146,114,27,175

In [9]:
ipypandas.enable()

df4 = pd.DataFrame([[38.0, 2.0, 18.0, 22.0, 21, np.nan], [19, 439, 6, 452, 226, 232]],
                   index=pd.Index(['Tumour (Positive)', 'Non-Tumour (Negative)'], name='Actual Label:'),
                   columns=pd.MultiIndex.from_product([['Decision Tree', 'Regression', 'Random'], ['Tumour', 'Non-Tumour']], names=['Model:', 'Predicted:']))
df4

Model:                Decision Tree            Regression            Random  \
Predicted:                   Tu…

In [10]:
ipypandas.disable()
df4

Model:                Decision Tree            Regression            Random  \
Predicted:                   Tumour Non-Tumour     Tumour Non-Tumour Tumour
Actual Label:
Tumour (Positive)              38.0        2.0       18.0       22.0     21
Non-Tumour (Negative)          19.0      439.0        6.0      452.0    226

Model:
Predicted:            Non-Tumour
Actual Label:
Tumour (Positive)            NaN
Non-Tumour (Negative)      232.0

In [11]:
df5 = ipypandas.PandasWidget(df=df3)
df5

           A         B         C         D    1    2    3    4    5    6  ...  \
0                            …

In [12]:
print(df5)

           A         B         C         D    1    2    3    4    5    6  ...  \
0                                                                         ...
0   0.417500 -2.548900  0.967824  0.396577   66   71   13   55   49   79  ...
1   2.137010  1.544430 -0.361858  0.120389   17   66    4    7   56   84  ...
2  -1.084084 -0.878913  1.269703 -1.361235   51   14   17   46   31    1  ...
3   2.313109  1.501381 -0.903490  0.682272  100  138  112   62   33   80  ...
7  -3.189942  1.019601  0.618111 -0.097380  104   15  105  101  118   93  ...
..       ...       ...       ...       ...  ...  ...  ...  ...  ...  ...  ...
91 -0.667818  1.385536 -2.707827  0.374140   97  184   34  123   70   90  ...
93 -0.333540  0.524182 -0.084696 -0.679041   39   67    4   82   40   77  ...
94 -2.419163 -0.071311  0.943866 -0.364078   64   10   27   80   82   41  ...
95 -1.953949  0.265733  2.762712  1.433314  222  124  130  196  160  237  ...
96  0.724418 -0.051650 -1.736986  0.771969   73  167   95  146  112  142  ...

     40   41   42   43   44   45   46   47   48   49
0
0    32   12   46   76    8   39   64   33   35   78
1     1   85   62   43   81   34    8   94   53   62
2    61   36   88   71   40   67   38   42   30   51
3    13   67   71   92  111   73   41   67   38  136
7    81   52  129  135  156  124   76  108  138   92
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
91   34  116   38   49   20   63   59   29   90  104
93   44   66   30   13   96   45   11   22   28   54
94   15   14   36   33   69   56   99   32   91   74
95  232  212  153  174  182   86  154  216  128  179
96   94   95  176  135   96  109  146  114   27  175

[66 rows x 53 columns]