# Imports

In [1]:
import random
import string
import ipypandas

import numpy as np
import pandas as pd

In [2]:
# The numbers of rows to show in a truncated view (when max_rows is exceeded).
# Ignored when max_rows is set to None or 0. When set to None, follows the value of max_rows.
pd.set_option('display.min_rows', 10)  # [default: 10]

# If max_rows is exceeded, switch to truncate view.
# Depending on large_repr, objects are either centrally truncated or printed as a summary view.
pd.set_option('display.max_rows', 60)  # [default: 60]

# The maximum width in characters of a column in the repr of a pandas data structure.
# When the column overflows, a “…” placeholder is embedded in the output.
pd.set_option('display.max_colwidth', 50)  # [default: 50]

In [3]:
ipypandas.enable()

n = 1000
df1 = pd.DataFrame(np.random.randn(n, 4), columns=[1, 1/3, 'A', 'B'])

styler = df1.style.format({1: lambda x: f'-- {x:.2f} --'})
styler.set_caption('Styled table')
styler

            1  0.3333333333333333         A         B
0    0.639974            0.350952  1.106304  2.100990
1 …

In [4]:
def rand_int(low, hi):
    while True:
        yield random.randint(low, hi)


def rand_words(size):
    chars = ''.join(random.choice(string.ascii_letters) for x in range(size))
    for n in rand_int(3, 10):
        if n > len(chars):
            break
        yield chars[:n]
        chars = chars[n::]


def rand_sentences(length, count):
    return [' '.join(rand_words(random.randint(length, int(length * 5)))) for x in range(count)]

# DataFrame

In [5]:
ipypandas.enable()

pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [6]:
ipypandas.enable()

pd.DataFrame(columns=['One', 'Two'])

Empty DataFrame
Columns: [One, Two]
Index: []

In [7]:
ipypandas.enable()

n = 1000
pd.DataFrame(data={'One': rand_sentences(10, n), 'Two': rand_sentences(30, n), 'Three': rand_sentences(90, n)})

                                                   One  \
0                        lXkIIQxf lPBTHXtjIG KGVHWhy…

In [8]:
ipypandas.enable()

n = 100
df1 = pd.DataFrame(np.random.randn(n, 4), columns=['A', 'B', 'C', 'D'])
df1

           A         B         C         D
0   1.252952  0.266604 -0.485154  0.700894
1  -0.567995  1.810720 -…

In [9]:
ipypandas.disable()

df2 = df1.set_index('A')
df2

                  B         C         D
A
 1.252952  0.266604 -0.485154  0.700894
-0.567995  1.810720 -0.299671  0.656854
 0.433643 -0.570265 -1.156226 -0.267045
-1.020101 -0.204616  0.181828  0.183729
-0.847608  0.314630  0.374726 -0.800483
...             ...       ...       ...
-0.336178  0.225051 -0.058078  0.776406
-1.061820 -0.150144  0.751134 -1.724531
 0.682064  0.986869 -1.087567 -0.465627
-0.850854 -1.127398  1.731552 -0.329359
 1.584013  0.646916  0.353572  0.295312

[100 rows x 3 columns]

In [10]:
ipypandas.enable()

df2 = df1.set_index('A').head()
df2

                  B         C         D
A
 1.252952  0.266604 -0.485154 …

In [11]:
ipypandas.enable()

groups = np.random.randint(0, df1.shape[0], size=(df1.shape[0], 50))
df3 = pd.concat([df1, pd.DataFrame(groups)], axis=1).groupby(0).sum()  # .reset_index()
df3

           A         B         C         D    1   2   3    4    5    6  ...  \
0                              …

In [12]:
ipypandas.disable()

df3

,A,B,C,D,1,2,3,4,5,6,...,40,41,42,43,44,45,46,47,48,49
0,,,,,,,,,,,,,,,,,,,,,
0,0.662342,1.883478,1.422037,-0.614050,92,60,68,65,5,51,...,64,84,15,68,94,49,77,14,70,27
1,-0.245791,-1.333671,-0.245428,-0.505402,95,21,41,18,52,49,...,84,61,74,56,23,90,52,46,30,20
3,-0.589017,-1.621008,-0.326520,-0.755649,153,97,50,113,151,90,...,80,109,48,58,67,121,134,135,78,165
5,0.560928,0.747982,-0.054568,-1.042425,31,75,96,59,5,7,...,85,91,80,96,60,19,58,31,21,61
7,1.365784,-1.390731,0.244240,1.502945,9,97,4,64,41,12,...,22,14,90,60,60,94,44,33,40,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0.713068,-2.679539,1.871504,0.336077,65,89,64,94,72,1,...,39,91,34,16,60,5,1,60,37,35
94,-0.445992,3.473872,-0.133775,-0.589009,106,15,38,85,108,135,...,74,111,74,77,145,152,56,33,47,149
95,-1.122466,0.188767,0.469860,0.695098,20,93,87,31,43,26,...,57,40,23,20,86,55,26,34,54,7
98,-0.665976,0.438614,-0.494601,0.429240,0,9,73,78,62,92,...,9,95,19,41,12,45,90,48,0,56
99,-0.087944,-0.552544,-0.865411,-0.588694,5,5,80,17,35,79,...,22,81,15,57,83,94,87,82,68,45

In [13]:
ipypandas.enable()

df4 = pd.DataFrame([[38.0, 2.0, 18.0, 22.0, 21, np.nan], [19, 439, 6, 452, 226, 232]],
                   index=pd.Index(['Tumour (Positive)', 'Non-Tumour (Negative)'], name='Actual Label:'),
                   columns=pd.MultiIndex.from_product([['Decision Tree', 'Regression', 'Random'], ['Tumour', 'Non-Tumour']], names=['Model:', 'Predicted:']))
df4

Model:                Decision Tree            Regression            Random  \
Predicted:                   Tu…

In [14]:
df5 = ipypandas.PandasWidget(df=df3)
df5

           A         B         C         D    1   2   3    4    5    6  ...  \
0                              …

In [15]:
print(df5)

           A         B         C         D    1   2   3    4    5    6  ...  \
0                                                                       ...
0   0.662342  1.883478  1.422037 -0.614050   92  60  68   65    5   51  ...
1  -0.245791 -1.333671 -0.245428 -0.505402   95  21  41   18   52   49  ...
3  -0.589017 -1.621008 -0.326520 -0.755649  153  97  50  113  151   90  ...
5   0.560928  0.747982 -0.054568 -1.042425   31  75  96   59    5    7  ...
7   1.365784 -1.390731  0.244240  1.502945    9  97   4   64   41   12  ...
..       ...       ...       ...       ...  ...  ..  ..  ...  ...  ...  ...
92  0.713068 -2.679539  1.871504  0.336077   65  89  64   94   72    1  ...
94 -0.445992  3.473872 -0.133775 -0.589009  106  15  38   85  108  135  ...
95 -1.122466  0.188767  0.469860  0.695098   20  93  87   31   43   26  ...
98 -0.665976  0.438614 -0.494601  0.429240    0   9  73   78   62   92  ...
99 -0.087944 -0.552544 -0.865411 -0.588694    5   5  80   17   35   79  ...

    40   41  42  43   44   45   46   47  48   49
0
0   64   84  15  68   94   49   77   14  70   27
1   84   61  74  56   23   90   52   46  30   20
3   80  109  48  58   67  121  134  135  78  165
5   85   91  80  96   60   19   58   31  21   61
7   22   14  90  60   60   94   44   33  40   19
..  ..  ...  ..  ..  ...  ...  ...  ...  ..  ...
92  39   91  34  16   60    5    1   60  37   35
94  74  111  74  77  145  152   56   33  47  149
95  57   40  23  20   86   55   26   34  54    7
98   9   95  19  41   12   45   90   48   0   56
99  22   81  15  57   83   94   87   82  68   45

[65 rows x 53 columns]