# Imports

In [1]:
import random
import string
import ipypandas

import numpy as np
import pandas as pd

In [2]:
# The numbers of rows to show in a truncated view (when max_rows is exceeded).
# Ignored when max_rows is set to None or 0. When set to None, follows the value of max_rows.
pd.set_option('display.min_rows', 10) # [default: 10]

# If max_rows is exceeded, switch to truncate view. 
# Depending on large_repr, objects are either centrally truncated or printed as a summary view. 
pd.set_option('display.max_rows', 60) # [default: 60]

# The maximum width in characters of a column in the repr of a pandas data structure.
# When the column overflows, a “…” placeholder is embedded in the output. 
pd.set_option('display.max_colwidth', 50) # [default: 50]

In [3]:
ipypandas.enable()

n = 70
df1 = pd.DataFrame(np.random.randn(n, 4), columns=['A', 'B', 'C', 'D'])
df1

           A         B         C         D
0   1.893601  0.410093 -0.718470  1.054466
1  -0.035616  0.016607  …

In [4]:
def rand_int(low, hi):
    while True:
        yield random.randint(low, hi)
        
def rand_words(size):
    chars = ''.join(random.choice(string.ascii_letters) for x in range(size))
    for n in rand_int(3, 10):
        if n > len(chars):
            break
        yield chars[:n]
        chars = chars[n::]
        
def rand_sentences(length, count):
    return [' '.join(rand_words(random.randint(length, int(length * 5)))) for x in range(count)]

# DataFrame

In [5]:
ipypandas.enable()

pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [6]:
ipypandas.enable()

pd.DataFrame(columns=['One', 'Two'])

Empty DataFrame
Columns: [One, Two]
Index: []

In [7]:
ipypandas.enable()

n = 100
pd.DataFrame(data={'One': rand_sentences(10, n), 'Two': rand_sentences(30, n), 'Three': rand_sentences(90, n)})

                                                One  \
0                       mEIs CKFESV usFJRC hlfviIRs
…

In [8]:
ipypandas.enable()

n = 100
df1 = pd.DataFrame(np.random.randn(n, 4), columns=['A', 'B', 'C', 'D'])
df1

           A         B         C         D
0   0.097789  0.167930 -0.131553 -1.113684
1   1.194929 -0.967616 -…

In [9]:
ipypandas.disable()

df2 = df1.set_index('A')
df2

                  B         C         D
A
 0.097789  0.167930 -0.131553 -1.113684
 1.194929 -0.967616 -0.214327 -0.578137
-0.156690 -0.581925  1.899904  0.476507
 0.900103  0.006635  0.805402  0.344603
 0.796827  1.040699  0.011613 -0.730910
...             ...       ...       ...
-0.688502 -0.878475 -0.100023  1.131825
 1.098235  0.061979  0.355079  0.985619
-1.153854 -0.103445  3.560237  0.199265
-0.387073  0.229468 -0.912097 -0.248116
 1.215105 -1.157779  0.022898  0.900059

[100 rows x 3 columns]

In [10]:
ipypandas.enable()

df2 = df1.set_index('A').head()
df2

                  B         C         D
A
 0.097789  0.167930 -0.131553 …

In [11]:
ipypandas.enable()

groups = np.random.randint(0, df1.shape[0], size=(df1.shape[0], 50))
df3 = pd.concat([df1, pd.DataFrame(groups)], axis=1).groupby(0).sum()#.reset_index()
df3

           A         B         C         D    1    2    3    4    5    6  ...  \
0                            …

In [12]:
ipypandas.disable()

df3

,A,B,C,D,1,2,3,4,5,6,...,40,41,42,43,44,45,46,47,48,49
0,,,,,,,,,,,,,,,,,,,,,
0,0.796827,1.040699,0.011613,-0.730910,3,73,22,69,86,86,...,46,6,97,9,65,21,2,9,43,56
1,-0.370208,0.598282,0.614745,0.649837,96,59,52,33,91,39,...,7,30,36,37,37,29,10,11,18,6
2,-0.134310,0.416279,-1.018819,-0.562589,84,60,67,19,66,5,...,17,53,26,30,49,82,73,35,11,41
3,0.905279,-0.483787,-0.154636,-1.150452,151,171,105,67,87,71,...,114,87,114,53,136,67,131,101,70,175
4,-0.162688,-2.547748,-1.027444,-0.423256,38,99,99,75,28,61,...,94,40,93,37,29,96,4,72,46,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,0.080713,-0.970046,-0.067198,-1.655650,24,76,80,91,15,48,...,72,78,15,27,3,69,43,64,16,44
90,2.499317,0.631366,-0.064959,0.705916,95,128,118,124,104,164,...,23,165,177,65,76,121,115,39,172,126
91,-2.231555,0.623578,-1.036269,1.619367,102,147,97,110,65,40,...,83,151,140,117,108,100,121,126,187,50
94,-1.104943,0.138076,-0.114841,1.468050,228,110,147,70,82,168,...,120,204,84,122,131,98,75,196,147,120
96,0.250595,0.262599,-0.979626,1.386601,72,38,71,85,39,95,...,45,70,75,67,98,15,3,21,42,57

In [13]:
ipypandas.enable()

df4 = pd.DataFrame([[38.0, 2.0, 18.0, 22.0, 21, np.nan], [19, 439, 6, 452, 226, 232]],
                   index=pd.Index(['Tumour (Positive)', 'Non-Tumour (Negative)'], name='Actual Label:'),
                   columns=pd.MultiIndex.from_product([['Decision Tree', 'Regression', 'Random'], ['Tumour', 'Non-Tumour']], names=['Model:', 'Predicted:']))
df4

Model:                Decision Tree            Regression            Random  \
Predicted:                   Tu…

In [14]:
df5 = ipypandas.PandasWidget(df=df3)
df5

           A         B         C         D    1    2    3    4    5    6  ...  \
0                            …

In [15]:
print(df5)

           A         B         C         D    1    2    3    4    5    6  ...  \
0                                                                         ...
0   0.796827  1.040699  0.011613 -0.730910    3   73   22   69   86   86  ...
1  -0.370208  0.598282  0.614745  0.649837   96   59   52   33   91   39  ...
2  -0.134310  0.416279 -1.018819 -0.562589   84   60   67   19   66    5  ...
3   0.905279 -0.483787 -0.154636 -1.150452  151  171  105   67   87   71  ...
4  -0.162688 -2.547748 -1.027444 -0.423256   38   99   99   75   28   61  ...
5   1.098235  0.061979  0.355079  0.985619   97   37   53    9    3   42  ...
6  -0.387073  0.229468 -0.912097 -0.248116   66   82   80   32    5   64  ...
7   0.220587 -1.076767 -0.971803 -0.648862  182  121   56  157   64   92  ...
8  -1.341612 -2.180401  0.507796 -0.425980  170   87  137   68   24   52  ...
9   2.369466  1.235049  0.720710  0.268473   59  168   97  120  135  170  ...
10 -0.581530 -0.174739  0.632896  1.372015   77    2   23    4    3   95  ...
11 -2.105024 -0.060473 -4.181151 -0.329978  113   81  153   65   98  118  ...
12  0.285351 -1.054834  2.262215 -1.914807   80   99  109  176   98  158  ...
13  0.351108  1.967118  0.667048 -1.206699  102   53  113   15  113    7  ...
15 -0.674513 -1.212921  3.182742 -0.485998   92   55   92   90  106   97  ...

     40   41   42   43   44   45   46   47   48   49
0
0    46    6   97    9   65   21    2    9   43   56
1     7   30   36   37   37   29   10   11   18    6
2    17   53   26   30   49   82   73   35   11   41
3   114   87  114   53  136   67  131  101   70  175
4    94   40   93   37   29   96    4   72   46   23
5    15   30   48   90   58   81   95   13   24   28
6    10   22   40   58   82   90   83    8   27   32
7   143  149   83   89  104  108   87   53   75  130
8    81  115   90   96  109  153  182  158  117   21
9    82   95  125  162   98  128  101  120  166   78
10   11   69   76   77    3   33   96    5    7   66
11  114   56   66   99   71   81  100  153  113  109
12  131   50  121   88  130  133   70  107   86   35
13   85  110   58   64  132   93   95   91  121  133
15   69   56  105   86   80  102   40  121  195  176

[15 rows x 53 columns]