# Imports

In [1]:
import ipypandas

import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.min_rows', 10)
pd.set_option('display.max_rows', 60)

pd.set_option('display.max_columns', 20)
pd.set_option('display.max_colwidth', 50)

# DataFrame

In [3]:
ipypandas.disable()

pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [4]:
ipypandas.enable()

pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [5]:
df1 = pd.DataFrame(np.random.randn(100, 4), columns=['A', 'B', 'C', 'D'])
df1

           A         B         C         D
0  -2.128038 -0.276618  0.192153  0.404541
1  -0.109923 -0.207738 -…

In [6]:
ipypandas.disable()

df2 = df1.set_index('A').head()
df2

                  B         C         D
A
-2.128038 -0.276618  0.192153  0.404541
-0.109923 -0.207738 -0.064013 -1.263053
 0.294207 -0.638336 -0.611467 -0.148017
 1.640963 -0.673060  1.228564  0.683643
 0.809589  0.373972 -0.697439 -0.477361

In [7]:
ipypandas.enable()

df2 = df1.set_index('A').head()
df2

                  B         C         D
A
-2.128038 -0.276618  0.192153 …

In [8]:
groups = np.random.randint(0, df1.shape[0], size=(df1.shape[0], 50))

df3 = pd.concat([df1, pd.DataFrame(groups)], axis=1).groupby(0).sum()
df3

           A         B         C         D    1    2    3    4    5    6  ...  \
0                            …

In [9]:
ipypandas.disable()

df3

,A,B,C,D,1,2,3,4,5,6,...,40,41,42,43,44,45,46,47,48,49
0,,,,,,,,,,,,,,,,,,,,,
0,0.161193,-0.070849,-0.105690,0.842576,46,46,38,87,48,12,...,70,93,70,70,33,89,7,87,15,19
3,-0.068377,2.783010,0.917555,1.790227,105,189,152,100,212,150,...,161,100,73,138,199,181,157,181,145,150
4,1.733980,-0.862210,1.050498,-0.872319,10,70,23,67,45,40,...,76,34,80,71,3,44,90,73,20,32
5,0.161005,2.000103,1.102571,0.500730,49,32,76,83,24,32,...,80,42,93,60,61,24,85,89,93,10
6,-1.030755,0.018647,0.016669,0.312163,115,117,151,95,256,167,...,218,68,195,86,92,93,200,196,220,189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0.353494,-0.063609,-0.548540,-0.732265,64,57,14,3,62,72,...,92,46,11,82,35,82,74,58,79,20
94,0.720045,-0.545291,-1.939187,-1.839384,10,41,70,11,58,9,...,2,8,13,32,9,21,45,91,15,15
96,-1.720690,-2.743886,1.186140,2.497362,130,178,75,83,217,90,...,141,202,165,144,169,115,171,203,174,101
98,0.770724,-1.075927,2.373274,-1.364219,4,91,35,38,36,94,...,52,21,89,83,75,89,53,87,44,15
99,-0.307113,0.722107,0.420282,-0.336682,21,35,73,29,51,71,...,25,62,40,70,22,22,97,2,19,92

In [10]:
ipypandas.enable()

df4 = pd.DataFrame([[38.0, 2.0, 18.0, 22.0, 21, np.nan], [19, 439, 6, 452, 226, 232]],
                   index=pd.Index(['Tumour (Positive)', 'Non-Tumour (Negative)'], name='Actual Label:'),
                   columns=pd.MultiIndex.from_product([['Decision Tree', 'Regression', 'Random'], ['Tumour', 'Non-Tumour']], names=['Model:', 'Predicted:']))
df4

Model:                Decision Tree            Regression            Random  \
Predicted:                   Tu…

In [11]:
ipypandas.disable()
df4

Model:                Decision Tree            Regression            Random  \
Predicted:                   Tumour Non-Tumour     Tumour Non-Tumour Tumour
Actual Label:
Tumour (Positive)              38.0        2.0       18.0       22.0     21
Non-Tumour (Negative)          19.0      439.0        6.0      452.0    226

Model:
Predicted:            Non-Tumour
Actual Label:
Tumour (Positive)            NaN
Non-Tumour (Negative)      232.0

In [12]:
df5 = ipypandas.PandasWidget(df=df3)
df5

           A         B         C         D    1    2    3    4    5    6  ...  \
0                            …

In [13]:
print(df5)

           A         B         C         D    1    2    3    4    5    6  ...  \
0                                                                         ...
0   0.161193 -0.070849 -0.105690  0.842576   46   46   38   87   48   12  ...
3  -0.068377  2.783010  0.917555  1.790227  105  189  152  100  212  150  ...
4   1.733980 -0.862210  1.050498 -0.872319   10   70   23   67   45   40  ...
5   0.161005  2.000103  1.102571  0.500730   49   32   76   83   24   32  ...
6  -1.030755  0.018647  0.016669  0.312163  115  117  151   95  256  167  ...
..       ...       ...       ...       ...  ...  ...  ...  ...  ...  ...  ...
92  0.353494 -0.063609 -0.548540 -0.732265   64   57   14    3   62   72  ...
94  0.720045 -0.545291 -1.939187 -1.839384   10   41   70   11   58    9  ...
96 -1.720690 -2.743886  1.186140  2.497362  130  178   75   83  217   90  ...
98  0.770724 -1.075927  2.373274 -1.364219    4   91   35   38   36   94  ...
99 -0.307113  0.722107  0.420282 -0.336682   21   35   73   29   51   71  ...

     40   41   42   43   44   45   46   47   48   49
0
0    70   93   70   70   33   89    7   87   15   19
3   161  100   73  138  199  181  157  181  145  150
4    76   34   80   71    3   44   90   73   20   32
5    80   42   93   60   61   24   85   89   93   10
6   218   68  195   86   92   93  200  196  220  189
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
92   92   46   11   82   35   82   74   58   79   20
94    2    8   13   32    9   21   45   91   15   15
96  141  202  165  144  169  115  171  203  174  101
98   52   21   89   83   75   89   53   87   44   15
99   25   62   40   70   22   22   97    2   19   92

[62 rows x 53 columns]