# Imports

In [1]:
import random
import string
import ipypandas

import numpy as np
import pandas as pd

In [2]:
# The numbers of rows to show in a truncated view (when max_rows is exceeded).
# Ignored when max_rows is set to None or 0. When set to None, follows the value of max_rows.
pd.set_option('display.min_rows', 10)  # [default: 10]

# If max_rows is exceeded, switch to truncate view.
# Depending on large_repr, objects are either centrally truncated or printed as a summary view.
pd.set_option('display.max_rows', 60)  # [default: 60]

# The maximum width in characters of a column in the repr of a pandas data structure.
# When the column overflows, a “…” placeholder is embedded in the output.
pd.set_option('display.max_colwidth', 50)  # [default: 50]

In [3]:
ipypandas.enable()

n = 10000
df1 = pd.DataFrame(np.random.randn(n, 4), columns=['A', 'B', 'C', 'D'])
df1

            A         B         C         D
0   -0.547640 -0.463095  0.099693  0.114350
1   -1.427538  0.12101…

In [4]:
def rand_int(low, hi):
    while True:
        yield random.randint(low, hi)


def rand_words(size):
    chars = ''.join(random.choice(string.ascii_letters) for x in range(size))
    for n in rand_int(3, 10):
        if n > len(chars):
            break
        yield chars[:n]
        chars = chars[n::]


def rand_sentences(length, count):
    return [' '.join(rand_words(random.randint(length, int(length * 5)))) for x in range(count)]

# DataFrame

In [5]:
ipypandas.enable()

pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [6]:
ipypandas.enable()

pd.DataFrame(columns=['One', 'Two'])

Empty DataFrame
Columns: [One, Two]
Index: []

In [7]:
ipypandas.enable()

n = 100
pd.DataFrame(data={'One': rand_sentences(10, n), 'Two': rand_sentences(30, n), 'Three': rand_sentences(90, n)})

                                                  One  \
0                                     wkbT TEoVmRONYp…

In [8]:
ipypandas.enable()

n = 100
df1 = pd.DataFrame(np.random.randn(n, 4), columns=['A', 'B', 'C', 'D'])
df1

           A         B         C         D
0   1.705604 -1.287733 -0.001472  0.159376
1   1.159999  0.294077 -…

In [9]:
ipypandas.disable()

df2 = df1.set_index('A')
df2

                  B         C         D
A
 1.705604 -1.287733 -0.001472  0.159376
 1.159999  0.294077 -0.059771  1.351544
 0.448422 -1.262054  0.689753 -0.420611
-0.459269  1.315397 -0.246762 -0.809106
 0.830860 -0.388033 -0.532601 -0.027111
...             ...       ...       ...
 0.921784 -1.324036 -1.748207  0.133685
-0.778805  1.949015 -1.758994  0.996472
 1.713091 -0.109209 -0.431054  1.420107
-0.832551 -0.096948  0.643386 -1.180997
 0.423497 -1.543990 -0.676629  0.007217

[100 rows x 3 columns]

In [10]:
ipypandas.enable()

df2 = df1.set_index('A').head()
df2

                  B         C         D
A
 1.705604 -1.287733 -0.001472 …

In [11]:
ipypandas.enable()

groups = np.random.randint(0, df1.shape[0], size=(df1.shape[0], 50))
df3 = pd.concat([df1, pd.DataFrame(groups)], axis=1).groupby(0).sum()  # .reset_index()
df3

           A         B         C         D    1   2    3   4   5    6  ...  \
0                               …

In [12]:
ipypandas.disable()

df3

,A,B,C,D,1,2,3,4,5,6,...,40,41,42,43,44,45,46,47,48,49
0,,,,,,,,,,,,,,,,,,,,,
1,1.660084,-0.628732,1.877840,-0.211020,68,20,27,55,70,91,...,1,14,82,28,6,7,92,91,13,54
2,-0.077925,0.783797,-1.372463,0.364118,53,53,34,87,42,18,...,15,8,93,50,49,48,47,80,89,72
3,0.271004,0.417272,0.623792,-0.550408,82,30,133,46,50,160,...,40,108,119,109,75,105,110,54,57,71
5,-0.646274,-0.115824,1.249559,-0.211061,126,71,94,72,74,69,...,167,15,15,130,129,99,100,98,128,36
6,-0.118142,2.516782,-0.266112,-0.879136,53,95,9,9,33,11,...,23,43,88,10,1,14,29,2,82,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,-0.121811,0.292817,0.730763,-1.729692,61,93,121,72,38,58,...,104,118,99,97,121,122,107,123,114,115
91,-0.055250,0.258817,0.245089,-1.282390,25,97,63,72,68,45,...,59,11,86,31,96,20,49,58,98,2
92,0.354964,-2.413542,0.384199,-0.779793,56,50,17,14,5,36,...,45,99,82,58,28,60,46,12,69,65
93,-1.246585,-0.772453,-1.446895,-0.238514,97,27,99,58,88,5,...,80,56,75,7,3,82,32,34,4,1
96,1.487953,0.769557,1.818385,0.756830,64,10,42,62,23,63,...,98,22,78,67,54,19,2,6,86,19

In [13]:
ipypandas.enable()

df4 = pd.DataFrame([[38.0, 2.0, 18.0, 22.0, 21, np.nan], [19, 439, 6, 452, 226, 232]],
                   index=pd.Index(['Tumour (Positive)', 'Non-Tumour (Negative)'], name='Actual Label:'),
                   columns=pd.MultiIndex.from_product([['Decision Tree', 'Regression', 'Random'], ['Tumour', 'Non-Tumour']], names=['Model:', 'Predicted:']))
df4

Model:                Decision Tree            Regression            Random  \
Predicted:                   Tu…

In [14]:
df5 = ipypandas.PandasWidget(df=df3)
df5

           A         B         C         D    1   2    3   4   5    6  ...  \
0                               …

In [15]:
print(df5)

           A         B         C         D    1   2    3   4   5    6  ...  \
0                                                                      ...
1   1.660084 -0.628732  1.877840 -0.211020   68  20   27  55  70   91  ...
2  -0.077925  0.783797 -1.372463  0.364118   53  53   34  87  42   18  ...
3   0.271004  0.417272  0.623792 -0.550408   82  30  133  46  50  160  ...
5  -0.646274 -0.115824  1.249559 -0.211061  126  71   94  72  74   69  ...
6  -0.118142  2.516782 -0.266112 -0.879136   53  95    9   9  33   11  ...
..       ...       ...       ...       ...  ...  ..  ...  ..  ..  ...  ...
90 -0.121811  0.292817  0.730763 -1.729692   61  93  121  72  38   58  ...
91 -0.055250  0.258817  0.245089 -1.282390   25  97   63  72  68   45  ...
92  0.354964 -2.413542  0.384199 -0.779793   56  50   17  14   5   36  ...
93 -1.246585 -0.772453 -1.446895 -0.238514   97  27   99  58  88    5  ...
96  1.487953  0.769557  1.818385  0.756830   64  10   42  62  23   63  ...

     40   41   42   43   44   45   46   47   48   49
0
1     1   14   82   28    6    7   92   91   13   54
2    15    8   93   50   49   48   47   80   89   72
3    40  108  119  109   75  105  110   54   57   71
5   167   15   15  130  129   99  100   98  128   36
6    23   43   88   10    1   14   29    2   82   17
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
90  104  118   99   97  121  122  107  123  114  115
91   59   11   86   31   96   20   49   58   98    2
92   45   99   82   58   28   60   46   12   69   65
93   80   56   75    7    3   82   32   34    4    1
96   98   22   78   67   54   19    2    6   86   19

[63 rows x 53 columns]