# Imports

In [1]:
import random
import string
import ipypandas

import numpy as np
import pandas as pd

In [2]:
# The numbers of rows to show in a truncated view (when max_rows is exceeded).
# Ignored when max_rows is set to None or 0. When set to None, follows the value of max_rows.
pd.set_option('display.min_rows', 10)  # [default: 10]

# If max_rows is exceeded, switch to truncate view.
# Depending on large_repr, objects are either centrally truncated or printed as a summary view.
pd.set_option('display.max_rows', 60)  # [default: 60]

# The maximum width in characters of a column in the repr of a pandas data structure.
# When the column overflows, a “…” placeholder is embedded in the output.
pd.set_option('display.max_colwidth', 50)  # [default: 50]

In [3]:
ipypandas.enable()

n = 100
df1 = pd.DataFrame(np.random.randn(n, 4), columns=[1, 1/3, 'A', 'B'])

styler = df1.style.format({1: lambda x: f'-- {x:.2f} --'})
styler.set_caption('Styled table')
styler

           1  0.3333333333333333         A         B
0   0.371540            0.480059 -0.183489 -0.333391
1   …

In [4]:
def rand_int(low, hi):
    while True:
        yield random.randint(low, hi)


def rand_words(size):
    chars = ''.join(random.choice(string.ascii_letters) for x in range(size))
    for n in rand_int(3, 10):
        if n > len(chars):
            break
        yield chars[:n]
        chars = chars[n::]


def rand_sentences(length, count):
    return [' '.join(rand_words(random.randint(length, int(length * 5)))) for x in range(count)]

# DataFrame

In [5]:
ipypandas.enable()

pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [6]:
ipypandas.enable()

pd.DataFrame(columns=['One', 'Two'])

Empty DataFrame
Columns: [One, Two]
Index: []

In [7]:
ipypandas.enable()

n = 100
pd.DataFrame(data={'One': rand_sentences(10, n), 'Two': rand_sentences(30, n), 'Three': rand_sentences(90, n)})

                                                  One  \
0                                         QAfahwh MAM…

In [8]:
ipypandas.enable()

n = 100
df1 = pd.DataFrame(np.random.randn(n, 4), columns=['A', 'B', 'C', 'D'])
df1

           A         B         C         D
0   1.532093 -0.670245 -0.476309  0.672911
1   0.460635 -0.081255 -…

In [9]:
ipypandas.disable()

df2 = df1.set_index('A')
df2

                  B         C         D
A
 1.532093 -0.670245 -0.476309  0.672911
 0.460635 -0.081255 -0.604650  1.003692
 0.052858  0.540339 -1.121963 -1.220833
-0.927485 -0.965864  0.415220 -0.585036
-0.374035 -1.099607 -2.552333 -0.269131
...             ...       ...       ...
-0.288947 -0.560088 -0.623292  0.382247
 0.266374  0.736266 -0.158906  1.660540
-0.574664 -1.149039 -0.945390 -0.005292
-0.776619 -2.654561 -0.191405  1.693712
 0.048111 -1.033412 -0.681375  0.905290

[100 rows x 3 columns]

In [10]:
ipypandas.enable()

df2 = df1.set_index('A').head()
df2

                  B         C         D
A
 1.532093 -0.670245 -0.476309 …

In [11]:
ipypandas.enable()

groups = np.random.randint(0, df1.shape[0], size=(df1.shape[0], 50))
df3 = pd.concat([df1, pd.DataFrame(groups)], axis=1).groupby(0).sum()  # .reset_index()
df3

           A         B         C         D    1    2    3   4    5    6  ...  \
0                             …

In [12]:
ipypandas.disable()

df3

,A,B,C,D,1,2,3,4,5,6,...,40,41,42,43,44,45,46,47,48,49
0,,,,,,,,,,,,,,,,,,,,,
0,-0.669717,0.755765,0.375746,2.402832,83,86,66,86,27,11,...,87,7,44,98,64,0,16,99,82,82
2,-0.414238,0.156375,0.123933,-0.227713,32,52,50,33,68,85,...,0,11,17,4,18,89,81,60,71,36
4,1.061156,0.236544,0.566134,-0.007367,32,49,95,57,8,71,...,26,91,11,29,66,15,6,13,57,83
5,1.655005,0.590338,-0.383249,-0.221530,85,137,173,35,108,20,...,110,26,170,102,179,103,173,96,158,130
8,-1.066628,-0.618388,-2.212641,-0.692607,41,69,27,5,74,3,...,4,40,7,11,78,46,55,21,92,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2.052281,-0.096004,-1.498053,0.102743,12,26,71,12,91,67,...,93,34,12,16,73,49,14,42,50,19
95,-0.381975,-0.315281,-1.004510,-0.060617,153,149,180,28,23,170,...,51,53,68,133,168,69,138,81,55,149
96,0.135321,-0.712700,1.036099,-1.035549,26,85,71,58,71,36,...,22,73,21,90,53,52,89,31,14,83
98,-1.027457,1.264647,-0.540550,-0.960649,58,12,59,67,64,70,...,51,63,34,74,70,77,58,37,62,90
99,-0.271988,-0.968146,2.810545,0.350610,76,72,51,82,16,66,...,54,43,35,74,72,97,82,89,50,31

In [13]:
ipypandas.enable()

df4 = pd.DataFrame([[38.0, 2.0, 18.0, 22.0, 21, np.nan], [19, 439, 6, 452, 226, 232]],
                   index=pd.Index(['Tumour (Positive)', 'Non-Tumour (Negative)'], name='Actual Label:'),
                   columns=pd.MultiIndex.from_product([['Decision Tree', 'Regression', 'Random'], ['Tumour', 'Non-Tumour']], names=['Model:', 'Predicted:']))
df4

Model:                Decision Tree            Regression            Random  \
Predicted:                   Tu…

In [14]:
df5 = ipypandas.PandasWidget(df=df3)
df5

           A         B         C         D    1    2    3   4    5    6  ...  \
0                             …

In [15]:
print(df5)

           A         B         C         D    1    2    3   4    5    6  ...  \
0                                                                        ...
0  -0.669717  0.755765  0.375746  2.402832   83   86   66  86   27   11  ...
2  -0.414238  0.156375  0.123933 -0.227713   32   52   50  33   68   85  ...
4   1.061156  0.236544  0.566134 -0.007367   32   49   95  57    8   71  ...
5   1.655005  0.590338 -0.383249 -0.221530   85  137  173  35  108   20  ...
8  -1.066628 -0.618388 -2.212641 -0.692607   41   69   27   5   74    3  ...
..       ...       ...       ...       ...  ...  ...  ...  ..  ...  ...  ...
94  2.052281 -0.096004 -1.498053  0.102743   12   26   71  12   91   67  ...
95 -0.381975 -0.315281 -1.004510 -0.060617  153  149  180  28   23  170  ...
96  0.135321 -0.712700  1.036099 -1.035549   26   85   71  58   71   36  ...
98 -1.027457  1.264647 -0.540550 -0.960649   58   12   59  67   64   70  ...
99 -0.271988 -0.968146  2.810545  0.350610   76   72   51  82   16   66  ...

     40  41   42   43   44   45   46  47   48   49
0
0    87   7   44   98   64    0   16  99   82   82
2     0  11   17    4   18   89   81  60   71   36
4    26  91   11   29   66   15    6  13   57   83
5   110  26  170  102  179  103  173  96  158  130
8     4  40    7   11   78   46   55  21   92   39
..  ...  ..  ...  ...  ...  ...  ...  ..  ...  ...
94   93  34   12   16   73   49   14  42   50   19
95   51  53   68  133  168   69  138  81   55  149
96   22  73   21   90   53   52   89  31   14   83
98   51  63   34   74   70   77   58  37   62   90
99   54  43   35   74   72   97   82  89   50   31

[65 rows x 53 columns]