# Imports

In [16]:
import random
import string
import ipypandas

import numpy as np
import pandas as pd

In [17]:
# The numbers of rows to show in a truncated view (when max_rows is exceeded).
# Ignored when max_rows is set to None or 0. When set to None, follows the value of max_rows.
pd.set_option('display.min_rows', 10)  # [default: 10]

# If max_rows is exceeded, switch to truncate view.
# Depending on large_repr, objects are either centrally truncated or printed as a summary view.
pd.set_option('display.max_rows', 60)  # [default: 60]

# The maximum width in characters of a column in the repr of a pandas data structure.
# When the column overflows, a “…” placeholder is embedded in the output.
pd.set_option('display.max_colwidth', 50)  # [default: 50]

In [18]:
ipypandas.enable()

n = 1000
df1 = pd.DataFrame(np.random.randn(n, 4), columns=[1, 1/3, 'A', 'B'])

styler = df1.style.format({1: lambda x: f'-- {x:.2f} --'})
styler.set_caption('Styled table')
styler

<class 'ipypandas.widget.PandasWidget'>: 1000 rows × 4 columns

In [19]:
def rand_int(low, hi):
    while True:
        yield random.randint(low, hi)


def rand_words(size):
    chars = ''.join(random.choice(string.ascii_letters) for x in range(size))
    for n in rand_int(3, 10):
        if n > len(chars):
            break
        yield chars[:n]
        chars = chars[n::]


def rand_sentences(length, count):
    return [' '.join(rand_words(random.randint(length, int(length * 5)))) for x in range(count)]

# DataFrame

In [20]:
ipypandas.enable()

pd.DataFrame()

<class 'ipypandas.widget.PandasWidget'>: 0 rows × 0 columns

In [21]:
ipypandas.enable()

pd.DataFrame(columns=['One', 'Two'])

<class 'ipypandas.widget.PandasWidget'>: 0 rows × 2 columns

In [32]:
ipypandas.enable()

n = 5000
pd.DataFrame(data={'One': rand_sentences(100, n), 'Two': rand_sentences(300, n), 'Three': rand_sentences(200, n)})

<class 'ipypandas.widget.PandasWidget'>: 5000 rows × 3 columns

In [23]:
ipypandas.enable()

n = 400
df1 = pd.DataFrame(np.random.randn(n, 4), columns=['A', 'B', 'C', 'D'])
df1

<class 'ipypandas.widget.PandasWidget'>: 400 rows × 4 columns

In [24]:
ipypandas.disable()

df2 = df1.set_index('A')
df2

                  B         C         D
A
 0.259171 -0.860928  0.678770 -1.439743
 1.318785  0.199745 -1.301997  0.652492
-0.608176  0.066569 -1.617118  0.515468
 0.069489 -0.211075  1.666613 -0.680074
-0.284245  0.226099 -0.592023 -0.695218
...             ...       ...       ...
-1.951468 -0.184175 -0.241867 -0.316396
 0.903814 -0.521973 -0.474422 -0.470979
 1.141882  0.624801 -2.321229 -1.099138
 1.418639 -0.551661 -0.031014  1.634573
-1.430303 -0.408533 -0.024581 -0.842366

[400 rows x 3 columns]

In [25]:
ipypandas.enable()

df2 = df1.set_index('A').head()
df2

<class 'ipypandas.widget.PandasWidget'>: 5 rows × 3 columns

In [26]:
ipypandas.enable()

groups = np.random.randint(0, df1.shape[0], size=(df1.shape[0], 50))
df3 = pd.concat([df1, pd.DataFrame(groups)], axis=1).groupby(0).sum()  # .reset_index()
df3

<class 'ipypandas.widget.PandasWidget'>: 266 rows × 53 columns

In [27]:
ipypandas.disable()

df3

,A,B,C,D,1,2,3,4,5,6,...,40,41,42,43,44,45,46,47,48,49
0,,,,,,,,,,,,,,,,,,,,,
1,-0.403833,-1.123394,-0.716985,-0.364598,257,72,381,99,107,320,...,80,370,329,100,289,107,81,307,33,146
3,1.318785,0.199745,-1.301997,0.652492,289,387,382,329,332,336,...,252,106,357,338,291,315,305,278,321,18
4,-0.106916,0.887329,0.202361,-0.364107,214,381,140,350,194,86,...,275,202,227,254,59,50,331,36,172,123
5,1.603355,-1.701636,0.132427,1.230362,615,961,573,510,776,119,...,616,506,528,568,487,146,999,398,751,668
7,1.304064,-0.984986,1.352922,-0.831711,457,189,152,349,488,587,...,274,183,238,405,158,76,429,431,670,167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,1.124656,2.147445,-1.227588,-0.124505,122,437,276,298,391,436,...,168,293,504,487,335,562,609,612,489,235
394,1.713673,-2.524741,-0.767163,-0.087570,307,402,304,359,262,513,...,482,553,374,229,468,558,505,329,274,420
395,-0.654035,0.046166,-0.076712,-0.147561,462,589,361,462,385,458,...,618,392,507,226,468,446,104,500,412,431
397,0.066717,-1.000208,-0.460447,-0.177701,139,255,95,196,87,22,...,219,283,116,231,253,166,326,208,110,146
398,0.148542,0.643077,0.625434,1.214783,187,38,104,32,73,121,...,247,261,291,11,92,170,228,68,49,308

In [28]:
ipypandas.enable()

df4 = pd.DataFrame([[38.0, 2.0, 18.0, 22.0, 21, np.nan], [19, 439, 6, 452, 226, 232]],
                   index=pd.Index(['Tumour (Positive)', 'Non-Tumour (Negative)'], name='Actual Label:'),
                   columns=pd.MultiIndex.from_product([['Decision Tree', 'Regression', 'Random'], ['Tumour', 'Non-Tumour']], names=['Model:', 'Predicted:']))
df4

<class 'ipypandas.widget.PandasWidget'>: 2 rows × 6 columns

In [29]:
df5 = ipypandas.PandasWidget(df=df3)
df5

<class 'ipypandas.widget.PandasWidget'>: 266 rows × 53 columns

In [30]:
print(df5)

<class 'ipypandas.widget.PandasWidget'>: 266 rows × 53 columns