# Imports

In [1]:
import random
import string
import ipypandas

import numpy as np
import pandas as pd

In [2]:
# The numbers of rows to show in a truncated view (when max_rows is exceeded).
# Ignored when max_rows is set to None or 0. When set to None, follows the value of max_rows.
pd.set_option('display.min_rows', 10) # [default: 10]

# If max_rows is exceeded, switch to truncate view. 
# Depending on large_repr, objects are either centrally truncated or printed as a summary view. 
pd.set_option('display.max_rows', 60) # [default: 60]

# The maximum width in characters of a column in the repr of a pandas data structure.
# When the column overflows, a “…” placeholder is embedded in the output. 
pd.set_option('display.max_colwidth', 50) # [default: 50]

In [3]:
ipypandas.enable()

n = 100
df1 = pd.DataFrame(np.random.randn(n, 4), columns=['A', 'B', 'C', 'D'])
df1

           A         B         C         D
0   0.454153  0.205437  0.618307 -0.433360
1  -0.906233 -0.495827  …

In [4]:
def rand_int(low, hi):
    while True:
        yield random.randint(low, hi)
        
def rand_words(size):
    chars = ''.join(random.choice(string.ascii_letters) for x in range(size))
    for n in rand_int(3, 10):
        if n > len(chars):
            break
        yield chars[:n]
        chars = chars[n::]
        
def rand_sentences(length, count):
    return [' '.join(rand_words(random.randint(length, int(length * 5)))) for x in range(count)]

# DataFrame

In [5]:
ipypandas.enable()

pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [6]:
ipypandas.enable()

pd.DataFrame(columns=['One', 'Two'])

Empty DataFrame
Columns: [One, Two]
Index: []

In [7]:
ipypandas.enable()

n = 100
pd.DataFrame(data={'One': rand_sentences(10, n), 'Two': rand_sentences(30, n), 'Three': rand_sentences(90, n)})

                                                  One  \
0                          gaSM nEV BsCPjkQkj meWMQkG…

In [8]:
ipypandas.enable()

n = 100
df1 = pd.DataFrame(np.random.randn(n, 4), columns=['A', 'B', 'C', 'D'])
df1

           A         B         C         D
0  -0.973719 -0.453416  2.484910 -0.368102
1  -1.925949  1.009499  …

In [9]:
ipypandas.disable()

df2 = df1.set_index('A')
df2

                  B         C         D
A
-0.973719 -0.453416  2.484910 -0.368102
-1.925949  1.009499  0.879017 -0.315814
-0.060954 -1.514664 -0.645483 -2.827129
-1.028330  0.464504  0.614117  1.058614
-0.497249  0.562015 -0.531865 -0.513123
...             ...       ...       ...
-1.651194  0.890070 -1.610375 -0.254165
 0.164944 -0.199447 -0.043647  0.593796
 0.055547  0.292903 -0.612098 -0.890195
 1.410082 -1.333742  1.634078  2.137154
 0.348128 -2.164015 -1.306081 -0.885504

[100 rows x 3 columns]

In [10]:
ipypandas.enable()

df2 = df1.set_index('A').head()
df2

                  B         C         D
A
-0.973719 -0.453416  2.484910 …

In [11]:
ipypandas.enable()

groups = np.random.randint(0, df1.shape[0], size=(df1.shape[0], 50))
df3 = pd.concat([df1, pd.DataFrame(groups)], axis=1).groupby(0).sum()#.reset_index()
df3

           A         B         C         D    1    2    3    4    5    6  ...  \
0                            …

In [12]:
ipypandas.disable()

df3

,A,B,C,D,1,2,3,4,5,6,...,40,41,42,43,44,45,46,47,48,49
0,,,,,,,,,,,,,,,,,,,,,
0,0.235363,-0.214121,1.995302,-0.032942,24,44,79,94,10,76,...,29,51,13,8,71,77,34,56,18,84
1,-0.192582,-2.984692,-0.086259,2.430597,34,32,79,35,91,45,...,6,48,91,17,30,44,80,92,50,18
2,4.848196,-1.712342,-0.377457,1.168487,57,24,80,103,108,101,...,33,123,84,76,56,32,21,189,109,181
3,-0.032554,0.919938,1.420457,0.738966,115,190,156,145,42,140,...,132,105,61,126,92,120,136,119,124,150
4,0.136208,-0.708976,0.873698,0.860101,88,78,50,57,58,86,...,89,3,12,51,52,42,30,60,46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,-2.349633,0.131170,-1.293717,-1.287449,104,110,135,124,39,76,...,44,70,167,101,39,34,111,85,104,49
94,-0.423576,0.875095,-0.509614,-0.580588,60,95,51,99,61,83,...,58,33,41,75,72,85,6,7,10,3
96,-0.973719,-0.453416,2.484910,-0.368102,5,23,97,3,1,35,...,71,16,42,64,4,11,2,69,64,5
97,0.061928,-2.442467,-1.046777,0.247480,22,47,80,58,99,34,...,50,64,37,32,14,18,78,9,55,96
98,-1.644343,0.596479,-0.758397,0.040725,117,115,85,43,102,12,...,116,76,77,83,109,185,154,63,118,131

In [13]:
ipypandas.enable()

df4 = pd.DataFrame([[38.0, 2.0, 18.0, 22.0, 21, np.nan], [19, 439, 6, 452, 226, 232]],
                   index=pd.Index(['Tumour (Positive)', 'Non-Tumour (Negative)'], name='Actual Label:'),
                   columns=pd.MultiIndex.from_product([['Decision Tree', 'Regression', 'Random'], ['Tumour', 'Non-Tumour']], names=['Model:', 'Predicted:']))
df4

Model:                Decision Tree            Regression            Random  \
Predicted:                   Tu…

In [14]:
df5 = ipypandas.PandasWidget(df=df3)
df5

           A         B         C         D    1    2    3    4    5    6  ...  \
0                            …

In [15]:
print(df5)

           A         B         C         D    1    2    3    4    5    6  ...  \
0                                                                         ...
0   0.235363 -0.214121  1.995302 -0.032942   24   44   79   94   10   76  ...
1  -0.192582 -2.984692 -0.086259  2.430597   34   32   79   35   91   45  ...
2   4.848196 -1.712342 -0.377457  1.168487   57   24   80  103  108  101  ...
3  -0.032554  0.919938  1.420457  0.738966  115  190  156  145   42  140  ...
4   0.136208 -0.708976  0.873698  0.860101   88   78   50   57   58   86  ...
5  -0.249206  0.933050  1.067191 -0.759737  147   38  140  150  135   72  ...
7   0.376506 -0.482374  2.028635 -1.055684   57   95   91   92   41   66  ...
9  -1.925949  1.009499  0.879017 -0.315814    1   24   28   73   28    5  ...
12 -1.983987  1.581642  0.660672  0.847859   34    9   45   33   85   25  ...
13  0.354237 -0.437743 -1.155995 -0.137175   77   57   99   14   61   83  ...
14  0.007374 -0.519201  0.657842 -0.176762   80   18   56   37   37   92  ...
15  2.212160  1.819563  1.557098  0.665284   36   62   42  130  143  105  ...
16 -0.943964 -0.385189  1.474339 -0.050610    4   40   24   85   86   65  ...
17  1.316811  1.720005  0.195434 -1.646417  150  215  173  134  153  187  ...
18 -0.065883  0.347723 -0.305009  0.812510   96   56   29   36   76   21  ...

     40   41   42   43   44   45   46   47   48   49
0
0    29   51   13    8   71   77   34   56   18   84
1     6   48   91   17   30   44   80   92   50   18
2    33  123   84   76   56   32   21  189  109  181
3   132  105   61  126   92  120  136  119  124  150
4    89    3   12   51   52   42   30   60   46    0
5   133   85   88   81  144   31  174  106  163  139
7    20   19   82   83   77   14   42    3    5   80
9    90   39   58   43   88   45    4   40   50   31
12   73   15   81   16   69   15   29   44   27   28
13   13   32   83   10   28   40   86   45   82   88
14   17   78   90   78   13   97   98   36    7   11
15  104   85  135  109   84   67   83   82   81  114
16    6   55   16   24   90   34   18   63   69   48
17  121  196  161  213  192  137  193  137   88   96
18   30   31   86    6   45   80    9   36   88   82

[15 rows x 53 columns]